body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #80807E;
   /* Hide scrollbars */
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.backgroundStyle {
  background-color: azure;
}

.login-container {
  background-color: powderblue ;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-bottom: 50px;
  width: 50%;
  margin-left: 25%;
  border-left: 10px solid #012E40;
  border-right: 10px solid #012E40;
}
.login {
  background-color: rgba(145, 224, 242, 0.6);
  #background-color: #91E0F2;
  #opacity: 0.7;
  margin-left: 440px;
  margin-right: 450px;
  position: relative;
  top: 200px;
  padding-bottom: 50px;
  border-radius: 45px;
}

.login h1 {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 50px;
  color: #444;
}

.loginInput {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.loginInput input {
  margin-left: 8px;
  opacity: 0.7;
}

.loginButton {
  padiding-bottom: 100px;
  margin: auto;
  text-align: center;
}

.loginButton button {
  padding: 10px 25px 10px 25px ;
  background-color: dimgrey;
  border: none;
  font-family: Cambria;
  font-size: 18px;
  text-color: black;


}

.loginInput label {
  font-family: Cambria;
  font-size: 18px;
}

.info-container {
  width: 50%;
  margin-left: 25%;
  border-radius: 45px;
  opacity: 0.8;
  background-color: #fef8ed;
}
.patient-info {
  border-bottom: 1px solid #A9A9A9;
  padding: 10px;
  margin-left: 15%;
  width: 70%;
}
.patient-info span {
  margin-left: 160px;
  font-family: Cambria;
}
.patient-info label {
  padding-right: 20px;
  width: 20%;
  font-family: Cambria;
  font-weight: bold;
  margin-left: 110px;
}
.logout-button {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 90%;
  padding: 10px 15px 10px 15px;
  font-family: Cambria;
  font-size: 18px;
  background-color: dimgrey;
  border: none;



}

.info-title {
  font-size: 24px;
  margin-left: 45%;
  padding: 0;
  position: relative;
  top: 25px;
  font-size:35px;
  font-family: Cambria;
}

.patient-title {
  font-size: 24px;
  margin-left: 40%;
  padding: 0;
  position: relative;
  top: 15px;
  font-size:35px;
  font-family: Cambria;
}

.med-plan-title {
  font-size: 24px;
  margin-left: 39%;
  padding: 0;
  position: relative;
  top: 15px;
  font-size:35px;
  font-family: Cambria;
}

.nav-bar {
  width: 40%;
  margin-left: 10%;
  padding-bottom: 50px;
  position: relative;
  top: 50px;
}
.nav-bar-item {
  text-align: center;
  width: 20%;
  margin-left: 38%;
  top: 120px;
  font-size: 25px;
  color: #444;
  padding-right: 20px;
}
.nav-bar-item:hover {
  text-decoration: none;
  color: black;
}

.nav-bar-item-container {
  padding: 50px;
  position: relative;
  top: 30px;
}

.nav-bar-box {
  background-color: rgba(145, 224, 242, 0.5);
  padding: 40px;
  border-radius: 45px;
  #opacity: 0.5;
  transition: transform .5s;

}

.nav-bar-box:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.table-row {

  background-color:#fef8ed;

}

.breaker {
  background-color: #fef8ed;
  border: 10px solid #fef8ed;

}

.table-background {
  background-color: floralwhite;
  opacity: 0.8;

}



